table{
      border-collapse: collapse;
}
th, td {
      border: 1px solid black;
      border-spacing: 0;
      text-align: center;
      padding: 10px;
}
input{
      width: 40px;
      margin: 0 auto;
}